* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html, body {
	box-sizing: border-box;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	font: 400 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	color: #121212;
}

.content {
	flex: 0 1 auto;
	max-width: 800px;
	margin: 45px auto 0;
	padding: 0 15px;
	text-align: center;
}

h1 {
	margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
}

hr {
	display: block;
	margin: 2rem 0;
	height: 1px;
	border: none;
	border-bottom: 1px solid #DDD;
}

blockquote {
	text-align: left;
	margin: 0.75rem;
}

blockquote p {
	padding-left: 0.75rem;
	border-left: 3px solid #C1DECD;
	color: #676767;
}

blockquote footer {
	padding-left: 1.25rem;
	color: #868e96;
}

blockquote footer::before {
	content: "\2014 \00A0";
}

.footer {
	margin-top: auto;
	padding: 2rem 1rem 0;
	text-align: center;
	font-size: 0.8rem;
	color: #676767;
}

@media screen and (min-width: 768px) {

	body {
		font-size: 18px;
		line-height: 26px;
	}

	.content {
		text-align: left;
	}
}
